/* CSS Document */
body {
				margin:0;
				font-family:Arial, Helvetica, sans-serif;
				font-size: 13px;
     }

.header{ 
				 background-image:url(images/gradient.png); 
				 background-repeat:repeat-x;
				 height:92px;
			 }
.liner{ 
				border-top:1px solid gray;
       }

	   
	   
.footer{ 
					border-top:1px solid gray;
					clear: both;
					color: #9EC1CF;
					font-size: 11px;
					text-align: center;
				}

.login {
			 height: 250px;
			 width: 366px;
			}

.top {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
    background-color: #FFFFFF;
    height: 20px;
    width: 366px;
}

.logback {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
    background-color: #E0E3E2;
    height: 240px;
    width: 366px;
}

.view_main{
	border-radius:15px;
	background-color:#ABADAC;
    width:660px;
    height:30px;
}


.view_main a:visited {	background-color:#9FF;
}


.call{
	float:right;
	margin-top:-75px;
	margin-right:20px;
	width:403px;
    height:78px;
}


.button_search{
		float:right;
		margin-top:0px;
		margin-right:6px;
		width:68px;
	    height:23px;
}


.logout{
		float:right;
		margin-top:-20px;
		margin-right:300px;
		width:174px;
	    height:19px;
}

.grp_a{
	
	width:933px;
    height:155px;
  	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
     border-style:solid;
     border-color:#E0E3E2;
     background-color:#ABADAC;
     margin-left:150px;
}

.grp_b{
	
	width:933px;
    height:180px;
    border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
     border-style:solid;
     border-color:#E0E3E2;
     background-color:#ABADAC;
     margin-left:150px;
}

.grp_c{
	
	width:933px;
    height:275px;
    border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
     border-style:solid;
     border-color:#E0E3E2;
     background-color:#ABADAC;
     margin-left:150px; 
}

.sec_a{
	
	width:933px;
    height:26px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
     border-style:solid;
     border-color:#E0E3E2;
     background-color:#D9F0FE;
     margin-left:150px; 
}

.sec_b{
	
	width:933px;
    height:26px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
     border-style:solid;
     border-color:#E0E3E2;
     background-color:#D9F0FE;
     margin-left:150px; 
}

.sec_c{
	
	width:933px;
    height:26px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
     border-style:solid;
     border-color:#E0E3E2;
     background-color:#D9F0FE;
     margin-left:150px; 
}

#box{
	
	width:933px;
    border-radius:15px;
     border-style:solid;
     border-color:#E0E3E2;
     background-color:#ABADAC;
     margin-left:150px; 
}
